[Unit]
Description=rclone File Synchronization

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync "home:/Pictures/" "onedrive:/Pictures/" --create-empty-src-dirs --compare size,modtime,checksum --resilient --recover -MvP --fix-case
