{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

progress = true

[git]
  autoPush = true
  encryption = "gpg"

[gpg]
  recipient = "alberth@matos.cc"

[data]
  {{ if lookPath "get-gpg-key" -}}
    gpgKey = {{ output "get-gpg-key" | trim | quote }}
  {{- end }}
  osid = {{ $osid | quote }}

[merge]
  command = "/usr/bin/meld"

[diff]
  pager = "diff-so-fancy"
  command = "/usr/bin/meld"
