#!/bin/env bash
#
# If any system package files are added (i.e., something like dot_config/packages/fedora)
# add the file has to this line like so:
# fedora-base hash: {{ include "dot_config/packages/fedora-base" | sha256sum }}
# fedora-gui hash: {{ include "dot_config/packages/fedora-gui" | sha256sum }}
# arch-base hash: {{ include "dot_config/packages/arch-base" | sha256sum }}
# arch-apps hash: {{ include "dot_config/packages/arch-apps" | sha256sum }}
# arch-dependencies hash: {{ include "dot_config/packages/arch-dependencies" | sha256sum }}
# arch-kde hash: {{ include "dot_config/packages/arch-kde" | sha256sum }}
# arch-gaming hash: {{ include "dot_config/packages/arch-gaming" | sha256sum }}

{{ if eq .chezmoi.os "linux" -}}
    echo "Future Linux work"
    {{ if eq .osid "linux-nobara" -}}
    echo "Nobara Linux"
    sudo dnf install -y $(cat .config/packages/fedora-base)
    sudo dnf install -y $(cat .config/packages/fedora-gui)
    {{ if eq .chezmoi.hostname "necronomicon" }}
        echo "Installing gaming bits"
        sudo dnf install -y $(cat .config/packages/fedora-gaming)
    {{ end }}
    {{ end -}}
    {{ if eq .osid "linux-fedora" -}}
    echo "Fedora Linux"
    sudo dnf install -y $(cat .config/packages/fedora-base)
    sudo dnf install -y $(cat .config/packages/fedora-gui)
    {{ end -}}
    {{ if eq .osid "linux-arch" -}}
    echo "Arch Linux"
    yay -Suy --needed --noconfirm - < .config/packages/arch-base
    yay -Suy --needed --noconfirm - < .config/packages/arch-dependencies
    yay -Suy --needed --noconfirm - < .config/packages/arch-apps
    yay -Suy --needed --noconfirm - < .config/packages/arch-kde
    {{ if eq .chezmoi.hostname "necronomicon" }}
        echo "Installing gaming bits"
        yay -Suy --needed --noconfirm - < .config/packages/arch-gaming
        systemctl enable --now --user gamemoded
    {{ end }}

    echo "Enabling systemd units"
    echo "tuned"
    sudo systemctl enable --now tuned
    echo "tunred-ppd"
    sudo systemctl enable --now tuned-ppd
    {{ end -}}
    echo "Chronyd"
    sudo systemctl enable --now chronyd
    echo "cockpit"
    sudo systemctl enable --now cockpit.socket
    echo "sshd"
    sudo systemctl enable --now sshd
    echo "syncthing"
    sudo systemctl enable --now syncthing@alberth
    echo "1Password"
    systemctl enable --now --user 1password
    echo "Darkman"
    systemctl enable --now --user darkman
{{ else if eq .chezmoi.os "darwin" -}}
    echo "Future Darwin work"
{{ end -}}
echo "Est finis"
