#!/bin/env bash

# bootstrap hash: {{ include "dot_local/bin/executable_bootstrap-nobara.sh" | sha256sum }}
# bootstrap hash: {{ include "dot_local/bin/executable_bootstrap-fedora.sh" | sha256sum }}

{{ if eq .chezmoi.os "linux" -}}
    {{ if eq .osid "linux-nobara" -}}
        echo "Found Nobara Linux"
        bash "$HOME/.local/bin/bootstrap-nobara.sh"
    {{ end -}}
    {{ if eq .osid "linux-fedora" -}}
    echo "Found Fedora Linux"
    bash "$HOME/.local/bin/bootstrap-fedora.sh"
    {{ end -}}
{{ end -}}
