{{ if eq .chezmoi.os "linux" -}}
#!/bin/env bash
echo "Future Linux work"
{{ if eq .chezmoi.osRelease.idLike "rhel centos fedora" -}}
echo "Fedora or derivative"
if [[ -e {{ "$HOME/.config/packages/fedora" }} ]]; then
    sudo dnf install -y $(cat "$HOME/.config/packages/fedora")
fi
{{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo "Future Darwin work"
{{ end -}}
