/*
 * GTK doesn't support CSS vars, so use their syntax
 */

@define-color Highlight rgb(203, 166, 247); #mauve
@define-color Indicator rgb(166, 227, 161); #green
@define-color PanelBackground rgb(108, 112, 134); #overlay0
@define-color ModuleBackground rgb(127, 132, 156); #overlay1
@define-color NotificationBackground rgb(147, 153, 178); #overlay2
@define-color Border rgb(17, 17, 27); #crust
@define-color textColor rgb(205, 214, 244); text
@define-color spacerColor rgb(245, 224, 220); #flamingo

#text flowbox,
flowboxchild {
    padding: 0;
    color: @textColor;
}

#panel {
    background-color: @PanelBackground;
}

#panel.top {
    border-bottom: @Border 1px solid;
}

#panel.right {
    border-left: @Border 1px solid;
}

#panel.bottom {
    border-top: @Border 1px solid;
}

#panel.left {
    border-right: @Border 1px solid;
}

.module {
    background-color: @ModuleBackground;
    color: @textColor;
}

.top .module {
    border-radius: 0 0 8px 8px;
}

.right .module {
    border-radius: 8px 0 0 8px;
}

.bottom .module {
    border-radius: 8px 8px 0 0;
}

.left .module {
    border-radius: 0 8px 8px 0;
}

#pager .workspace {
    background-color: alpha(@ModuleBackground, 0.3);
    border: @Border 1px solid;
    border-radius: 4px;
}

#pager .workspace.live {
    background-color: alpha(@Highlight, 0.2);
}

#pager .workspace.active {
    border: alpha(@Highlight, 0.8) 1px solid;
}

#pager .workspace .workspaceLabel {
    background-color: alpha(@ModuleBackground, 0.8);
    font-size: 16px;

    color: @textColor;
}

#pager .workspace .client {
    border: alpha(@Highlight, 0.6) 1px solid;
    background-color: alpha(@Highlight, 0.3);
    border-radius: 4px;
}

#pager .workspace .client.active {
    border: alpha(@Highlight, 0.9) 1px solid;
    background-color: alpha(@Highlight, 0.7);
}

#taskbar .client {
    border: crust 1px solid;
    border-radius: 4px;
}

#taskbar .client.hover {
    border: alpha(@Highlight, 0.3) 1px solid;
    background-color: alpha(@Highlight, 0.3);
}

#taskbar .client.active {
    border: alpha(@Highlight, 0.6) 1px solid;
    background-color: alpha(@Highlight, 0.6);
}

/* Text sizing in GTK sucks, let the user deal with it */
#clock #clockTime {
    font-size: 2em;
    font-weight: 500;
    color: @textColor;
}

#clock #clockDate {
    font-size: 2em;
    color: @textColor;
}

#sessionOverlay {
    background-color: alpha(@PanelBackground, 0.7);
    font-size: 2rem;
}

#sessionOverlay button {
    border-radius: 20px;
}

#spacer {
    background-color: @spacerColor;

    color: @textColor;
}

#taskbar .indicator {
    border: lighter(alpha(@Indicator, 0.9)) 1px solid;
    border-radius: 2px;
    background-color: @Indicator;
}

#notificationsOverlay {
    background-color: crust;
}

.notification {
    border: @Border 1px solid;
    border-width: 2px;
    background-color: alpha(@NotificationBackground, 0.7);
    border-radius: 16px;
    transition: background-color 300ms ease-in-out;
}

.notification.hover {
    background-color: @NotificationBackground;
    transition: background-color 300ms ease-in-out;
}

.notification .notificationIcon {
    margin: 8px 0px 8px 8px;
}

.notification .notificationSummary {
    margin: 8px 12px 0px 12px;
}

.notification .notificationBody {
    margin: 8px 12px 12px 12px;
}

.notification button {
    border-radius: 0;
    border: 0;
}

.notification .notificationActions button:first-child {
    border-bottom-left-radius: 16px;
}

.notification .notificationActions button:last-child {
    border-bottom-right-radius: 16px;

    color: @textColor;
}

#hudOverlay {
    background-color: rgba(0, 0, 0, 0);
}

.hudNotification {
    border: @Border 1px solid;
    border-width: 2px;
    background-color: alpha(@NotificationBackground, 0.7);
    border-radius: 16px;
    transition: background-color 300ms ease-in-out;
    color: @textColor;
}

.hudNotification .hudIcon {
    margin: 16px;
    color: @textColor;
}

.hudNotification .hudTitle {
    margin: 0px 12px 0px 12px;
    color: @textColor;
}

.hudNotification .hudBody {
    margin: 8px 12px 16px 12px;
    color: @textColor;
}

.hudNotification .hudPercent {
    margin: 0px 12px 16px 12px;
    font-size: 2rem;
    color: @textColor;
}
