[Unit]
Description=1Password headless
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/1password --silent
Restart=always
RestartSec=7

[Install]
WantedBy=default.target
